body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/* removing the link color and underline */
a{
    color: inherit;
    text-decoration: none;
}
/* --------HEADER */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}
    .header.logo{
            font-size: 24px;
            color: #F9FAF8;
        }
    .header ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 18px;
            color: #E5E7EB;
            list-style-type: none;
            gap: 20px;

        }
/* HERO */

#container-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 100px 0;
}

#yotsuba{
    height: 200px;
    width: auto;
    object-fit:cover;
    padding: 30px;
}

.signup.block{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 30px;
}

h2{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.signup.block p {
    font-size: 18px;
    color: #E5E7EB;
}


.button {
   background-color: #3882F6; 
   color: #F9FAF8;
   padding: 5px 20px;
   border-radius: 5px;
   border-style: none;
}

/* YOTSUBA */


